html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom right, yellow, rgb(255, 72, 0));
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 4s ease;
}

header {
    text-align: center;
}

td, table {
    border: 3px solid black;
}

table {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: blue;
}

td {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    background-color: rgb(255, 192, 20);
    color: rgb(0, 0, 194);
}

.spin {
    animation: spin 5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    background-color: transparent;
}

.flash {
    animation: flash linear 0.3s infinite;
    background-color: transparent;
}

.pieceFlash {
    animation: pieceFlash linear 0.5s infinite;
    animation-delay: 0.5s;
}

td:hover {
    background-color: rgba(197, 183, 118, 0.918);
}

td:active {
    transform: scale(0.9);
    border-color: blue;
}

button {
    background-color:rgb(255, 192, 20);
    border: 3px solid rgba(0, 0, 255, 0.747);
    font-size: 1.2em;
    margin: 5px;
    padding: 20px 20px;
    color: rgba(0, 0, 255, 0.74);
    font-weight: 700;
    border-radius: 15px;
    animation: fadeIn 5s;
}

button:hover {
    background-color: rgba(211, 202, 125, 0.753); 
}

button:active {
    transform: scale(0.95);
}

.screen {
    font-size: 1.2em;
    margin: 0.2em 0;
    font-weight: 800;
    text-transform: uppercase;
    color: blue;
}

/*  Title */
h1 {
    font-size: 4em;
    margin: 0;
    margin-top: 20px;
    animation: fadeIn 3s, flow 4s linear infinite; 
    background: linear-gradient(-60deg, blue 0%, rgb(5, 199, 5) 20%,  purple 50%, blue 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
}

#winnerScreen {
    font-size: 2em;
}

.messages, .infoboard {
    text-align: center;
    color: blue;
}

/* Spin the board */
@keyframes spin {
    40% {transform: scale(0.4) rotate(2160deg);}
    75% {transform: scale(1.4);}
    100% {transform: scale(1.0);}
}

/* Flash Winner */
@keyframes flash {
    0% {color: blue; transform: scale(1.2);}
    25% {color: rgb(255, 192, 20);}
    50% {color: black; transform: scale(0.8);}
    75% {color: rgb(255, 192, 20);}
    100% {color: blue; transform: scale(1.2);}
}

@keyframes pieceFlash {
    0% {color: rgb(255, 192, 20); background-color: blue;}
    50% {color: blue; background-color: rgb(255, 192, 20);}
}

/* Fade in page load */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

/*  Color flow */
@keyframes flow {
    from {
        background-position: 0%;
    }
    to {
        background-position: 200%;
    }
}