* {
    background-color: coral;
    font-family: 'Courier New', Courier, monospace;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td, table {
    border: 3px solid black;
}

table {
    margin-top: 3vw;
    margin-bottom: 2vw;
    background-color: blue;
}

td {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 8vw;
    background-color: rgb(236, 206, 69);
}

button {
    background-color: rgba(231, 195, 76, 0.87);
    border: 2px solid black;
    font-size: large;
    margin: 0.5vw;
    padding: 3vw;
    color: rgb(0, 29, 156);
    font-weight: 600;
    border-radius: 5px;
}

.screen {
    font-size: large;
    margin: 1vw;
    font-weight: 800;
    text-transform: capitalize;
}

h1 {
    font-size: 8vw;
    color: rgb(0, 29, 156);
    margin: auto;
}

#winnerScreen {
    font-size: 5vw;
}